.font-pretendard {
    font-family: var(--font-pretendard), sans-serif;
}

button {
    border: none;
    background: none;

    padding: 10px 18px;
    color: black;
    background-color: white;
    font-size: 10px;
    font-weight: 500;
    border-radius: 12px;

    cursor: pointer;
}

html {
    color: white;
}

.scroll-lock {
    overflow: hidden;
}

.no-js {
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.hover {
    transition: all 0.2s ease-in-out;
    transform: none;
}
.hover:hover {
    transform: scale(1.13);
}
.hover:active {
    transform: scale(1.13);
}

.hover2 {
    transition: all 0.2s ease-in-out;
    transform: none;
}
.hover2:hover {
    transform: scale(1.08);
}
.hover2:active {
    transform: scale(1.08);
}

.mouse-pointer {
    cursor: pointer;
}
