.font-pretendard {
    font-family: var(--font-pretendard), sans-serif;
}

button {
    border: none;
    background: none;

    padding: 10px 18px;
    color: black;
    background-color: white;
    font-size: 10px;
    font-weight: 500;
    border-radius: 12px;

    transition: all 0.2s ease-in-out;
    transform: none;

    cursor: pointer;
}
button:hover {
    transform: scale(1.13);
}
button:active {
    transform: scale(1.13);
}

html {
    color: white;
}
