.imgContainer {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    position: absolute;
    width: 150px;
    height: 150px;
}

.flexbox1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flexbox2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.translateYTop {
    transform: translateY(50px);
}

.translateYBottom {
    transform: translateY(-50px);
}

.textBlackColor {
    color: black;
}

.textBold {
    font-weight: bold;
}
