.flexbox1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topBar {
    margin-bottom: 40px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.items {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.icon {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
}

.image {
    object-fit: cover;
    border-radius: inherit;
}

.checkMark {
    position: relative;
    z-index: 1000;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 5px 0 0 5px;
}
